header .flag {
  right: 0px;
}
@media (max-width: 991px) {
  header .flag {
    right: -25px;
  }
}
.topHeader ul li:not(:last-child)::after {
  margin-right: 10px;
}
.cart {
  padding-right: 10px;
}
button {
  right: 93%;
}

.banner .text {
  top: 65%;
}
.box:not(:last-of-type) {
  border-right: none;
  border-left: 1px solid var(--light-grey);
}
@media(max-width:991px){
  .box:not(:last-of-type){
       border-right: none; 
    border-left: none;}
}
.sec-banner .text {
  top: 45%;
}
@media (max-width: 991px) {
  .banner .text {
    top: 50%;
  }
  .list {
    display: block;
  }

  .drop-menu {
    left: 600px;
  }
}
@media (max-width: 767px) {
  .banner .text {
    top: 45%;
  }
  .list {
    display: block;
  }
  .drop-menu {
    top: -28px;
    left: 180px;
  }
}


